body {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    margin: 50px auto;
    width: max-content;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
  }

.blankCard {
    background-color: steelblue;
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

.header {
    grid-column: 1 / -1;
    text-align: center;
}

.header h1 {
  font-size: 30px;
  margin: 10px;
}

.header h2 {
  margin: 0;
  font-size: 18px;
}

.header-bottom {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

#restartButton {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 5px;
}

#restartButton:hover {
  background-color: darkslategray;
}

.game-over {
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;
  display: none;
  background-color: aliceblue;
  border-radius: 10px;
  padding-bottom: 5px;
}

#gameOverMessage {
  font-size: 28px;
  color: green;
  margin-bottom: 10px;
}

#finalScore {
  font-size: 20px;
  color: black;
}