

body{
    
    background-color:hsl(212, 45%, 89%);
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 0;  
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}


li {
    list-style: none;
} 

.QRcode{
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 288px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    border: 1px solid black;
}

div img{
    border-radius: 10px;
    max-width: 288px;
}

div p{
    max-width: 268px;
}

.bold{
    color:hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 960px;
    justify-items: center;
    width: 100%;
}

.grid li:nth-child(4) {
    grid-column: 2 / 3;
  }

@media (max-width: 1000px) {
    .grid {
      grid-template-columns: 1fr; 
    }
  
    .grid li:nth-child(4) {
      grid-column: auto;
    }
  }